<input type="text" placeholder="NAME" [(ngModel)]='employee.empName'><br/>
<input type="text" placeholder="GENDER" [(ngModel)]='employee.gender'><br/>
<input type="date" placeholder="DATE OF JOING" [(ngModel)]='employee.joinDate'><br/>
<input type="text" placeholder="SLARY" [(ngModel)]='employee.salary'><br/>
<input type="text" placeholder="EMAIL" [(ngModel)]='employee.email'><br/>
<input type="text" placeholder="PASSWORD" [(ngModel)]='employee.password'><br/>

<input type="submit" value="REGISTER" (click)="registerEmp()">

