<div class="container" align=center>
<fieldset>
    <legend>Register</legend>
    <form #registerForm="ngForm" (ngSubmit)="register(registerForm.value)">
        Enter Id: <input type="number" name="empId" ngModel><br/>
        Enter Name: <input type="text" name="empName" ngModel><br/>
        Enter Salary: <input type="number" name="salary" ngModel><br/>
        Enter Gender: <input type="text" name="gender" ngModel><br/>
        Enter Date of join: <input type="date" name="doj" ngModel><br/>
        Enter Mobile: <input type="text" name="mobile" ngModel><br/>
        Enter Country: <select name="country" ngModel><br/>
            <option value={{country.alpha3Code}} *ngFor="let country of countries">{{country.name}}</option>
        </select><br/>
     <button class="btn btn-primary">Login</button>
    </form>
</fieldset>
</div>