<!-- <div class="row">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6 bg-success">col-xl-3</div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6 bg-success">col-xl-3</div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6 bg-success">col-xl-3</div>
</div>
 -->

 <div class="row">
<div class="class=col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
    <div class="card" style="width:250px; height:100px">
<img class="card-image" src="assets\images\HairCream.jpeg">
<div class="card-body">
    <h3 class="card-title">Hair Gel</h3>
    <p class="card-text">MOST SEARCHED FOR ON FLIPKART:TV & Appliances Shop From Home DaysGrand 
        Home Appliances SaleFlipkart Super Cooling DaysBig Screen TelevisionsTV & Large Appliances 
        Big Savings Day Sale</p>
    <h2>$500</h2>
<button class="btn btn-primary">Add To Cart</button>    
</div>
</div>
</div>


<div class="class=col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
    <div class="card" style="width:250px; height:100px">
<img class="card-image" src="assets\images\HairCream.jpeg">
<div class="card-body">
    <h3 class="card-title">Hair Gel</h3>
    <p class="card-text">MOST SEARCHED FOR ON FLIPKART:TV & Appliances Shop From Home DaysGrand 
        Home Appliances SaleFlipkart Super Cooling DaysBig Screen TelevisionsTV & Large Appliances 
        Big Savings Day Sale</p>
    <h2>$500</h2>
<button class="btn btn-primary">Add To Cart</button>    
</div>
</div>
</div>



</div>


























<!-- <h1><p>Hi! This is Demo Component</p></h1>
Your Name is: {{name}} <br/>
Your Age is : {{age}} <br/>
Your Salary is : {{salary}}<br/>
Your Marrital Status : {{isMarried}}<br/>
Hobbies:<br/>
<ol>
    <li *ngFor="let hobby of hobbies">{{hobby}}</li>
</ol>
<h3>Address :</h3>
Door No:{{address.doorNo}}<br/>
Street :{{address.street}}<br/>
City :{{address.city}}<br/>

<button (click)="showMessage()">Click Me</button> -->