<!-- <app-test></app-test> 
 
<app-register></app-register>

<app-showemp></app-showemp>

<app-login></app-login>


<app-products></app-products>
-->
<app-header></app-header>
<router-outlet></router-outlet>
<h1><marquee>Welcome To BVRIT Angular Sessions</marquee></h1>
<div class="footer">
<app-footer></app-footer>
</div>
