<!-- <app-demo></app-demo> 
<app-header></app-header> 
<app-demo></app-demo> 
<app-product></app-product>
<app-showemp></app-showemp>
<app-login></app-login>
<app-parent></app-parent>
-->

<app-header></app-header>
<router-outlet></router-outlet>
<marquee><h1>Welcome to Angular Routing ..</h1></marquee>