<h2>List Of Products</h2>
<div class="row offset-md-1" style="margin-top: 4px">
<div class="col-md-3" *ngFor="let product of products">
  <div class="card" style="width: 18rem;">
  <img class="card-img-top" [src]="product.imagePath" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">{{product.description}}</p>
  </div>
  <div class="row">
<div class="col">
    <div>{{product.price | currency:'USD'}}</div>
  </div>
  <div class="col">
  <div><button class="btn btn-primary">Add To Cart</button></div>
</div>
</div>
</div>
</div>
</div>

<!-- 
<div class="row">
	<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6 bg-success">Image 1</div>
	<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6 bg-primary">Image 2</div>
	<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6 bg-success">Image 3</div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6 bg-primary">Image 4</div>
</div> -->