<!-- Enter login id :<input type="text" [(ngModel)]="loginId"><br/>
Enter password :<input type="password" [(ngModel)]="password"><br/>
<button (click)="loginSubmit()">Submit</button>
 -->

<!-- Data Validations -->

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<div class="container">
    <form #loginForm="ngForm" (ngSubmit)="loginSubmit2(loginForm.value)" class="form-group" novalidate>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" placeholder="email" ngModel name="email" #email=ngModel class="form-control"
                required minlength=2 maxlength="20">
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" placeholder="password" ngModel name="password" #password=ngModel class="form-control"
                required minlength=2 maxlength="20">
        </div>
<button class="btn btn-primary" [disabled]="!loginForm.valid">Submit</button>
</form>
<div class="text-danger">
    <div *ngIf="email.errors?.required && email.touched">Enter data in login id field..</div>
    <div *ngIf="email.errors?.minlength && email.touched">Enter data in login id field atleast 4 chars..</div>
    <div *ngIf="password.errors?.required && password.touched">Enter data in password field..</div>
    <div *ngIf="password.errors?.minlength && password.touched">Enter data in password field atleast 4 chars..</div>
</div>
</div>