<!-- <div class="row">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 bg-success">col-xl-4</div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 bg-success">col-xl-4</div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 bg-success">col-xl-4</div>
</div>  --> 

<div class="container">
<div class="row text-center">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12" *ngFor="let product of products">
        <div class="card">
            <img class="card-img-top" [src]="product.imagePath" height="250px"/>
            <div class="card-body" height="250px">
                <h3 class="card-title">{{product.name}}</h3>
                <p class="card-text" style="height: 50px">{{product.description}}</p>
                <h2>{{product.price | currency: 'USD'}}</h2>
                <button class="btn btn-primary">Add To Cart</button>
            </div>
        </div>
    </div>
</div>
</div>
